<p>
  <b>Name:</b>
  <%=h @app.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @app.desc %>
</p>

<p>
  <b>Author:</b>
  <%=h @app.author %>
</p>

<p>
  <b>Regdate:</b>
  <%=h @app.regdate %>
</p>

<p>
  <b>Installnum:</b>
  <%=h @app.installnum %>
</p>

<p>
  <b>Callbackurl:</b>
  <%=h @app.callbackurl %>
</p>

<p>
  <b>Type:</b>
  <%=h @app.apptype %>
</p>

<p>
  <b>Logourl:</b>
  <%=h @app.logourl %>
</p>

<p>
  <b>Language:</b>
  <%=h @app.language %>
</p>

<p>
  <b>Category:</b>
  <%=h @app.category %>
</p>

<p>
  <b>Tag:</b>
  <%=h @app.tag %>
</p>

<p>
  <b>Free:</b>
  <%=h @app.free %>
</p>

<p>
  <b>Installcharge:</b>
  <%=h @app.installcharge %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>